*.iml
.gradle
.idea
**/.idea/**
!/.idea/vcs.xml
!/.idea/copyright/
.DS_Store
build
*/build
captures/
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
*.hprof
build/
reports
profile-out*
gradle-user-home
.focus
/.idea
/local.properties
/build
/captures
*.focus